<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>


<div>
  <img style="width: 400px;" src="<%= @announcement.picture %>"/>
</div>

<p>
  <strong>Text:</strong>
  <%= @announcement.text %>
</p>

<p>
  <strong>Author:</strong>
  <%= @announcement.user.fullname %>
</p>





<h2>Comments</h2>

<div>
  <% @announcement.comments.each do |comment| %>
    <div style=" background-color: #BBBBBB">
      <p style="margin-left: 5px;">
        <strong>Author:</strong>
          <%= comment.user.email %>
      </p>

      <p style="margin-left: 12px;">
        <%= comment.text %>
      </p>

      <!--button style="margin-left: 5px;" id="DeleteComment" onclick="deleteComment('<-%= comment.id %>')">Delete comment</button-->
      <p>
        <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>

        <!--a onclick="updateComment()">Edit</a-->
        <!--%= link_to 'Edit', edit_comment_path(comment) %-->
      </p>

    </div>

  <% end %>

</div>


<p>Here you can add your comment:</p>
<%= render 'comments/form' %>

<% if can? :update, @announcement %>
  <%= button_to 'Edit', edit_announcement_path(@announcement) %>
<% end %>

